* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body, html {
    height: 100%;
    width: 100%;
}

button, a, li {
    cursor: pointer;
    text-transform: uppercase
}

button {
    border: none;
    transition: 0.3s ease-in;
}

li {
    list-style: none;
}