.primary__btn {
    background-color: $pink;
    color: $white;
    font-family: $regularFont;

    &:hover {
        background-color: #D22377;
    }
}

.secondary__btn {
    background-color: $offYellow;
    color: #000;
    font-family: $regularFont;

    &:hover {
        background-color: #F1E763;
    }
}

.cta__btn {
    background-color: $lightBlue;
    font-family: $regularFont;
    color: $white;
    font-size: 1.8rem;

    &:hover {
        background-color: #48ACD0;
    }
}