@import '../../assets/styles/main';

.hero {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url('../../assets/img/hero-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;

    .cta__btn {
        position: absolute;
        bottom: 14%;
        left: 14%;
        // width: 243px;
        // height: 69px;
        width: 12vw;
        height: 7vh;
        font-size: 1.4vw;
    }
}

.keyMessages {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: $green;

    .messages {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-y: hidden;
        overflow-x: scroll;

        .message {
            display: flex;
            align-items: center;

            .svg__container {
                width: 20px;
                height: 20px;

                img {
                    width: 100%;
                }
            }
            
            span {
                color: $white;
                font-family: $semiBoldFont;
                font-size: 1.8rem;
                margin: 0 40px;
                white-space: nowrap;
            }
        }
    }
}