@import '../../assets/styles/main';

.hero {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url('../../assets/img/hero-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;

    @media screen and (max-width: 768px) {
        height: 60vh;
    }

    @media screen and (max-width: 500px) {
        height: 50vh;
    }

    .cta__btn {
        position: absolute;
        bottom: 14%;
        left: 14%;
        // width: 243px;
        // height: 69px;
        width: 12vw;
        height: 7vh;
        font-size: 1.4vw;

        @media screen and (max-width: 1024px) {
            width: 200px;
            height: 60px;
            font-size: 1.5rem;
            bottom: 6%;
            left: 50%;
            transform: translateX(-50%);
        }

        @media screen and (max-width: 500px) {
            width: 130px;
            height: 40px;
            font-size: 1rem;
        }
    }
}

.ticker {
    width: 100%;
    overflow: hidden;
    height: 10vh;
    background-color: $green;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
        height: 8vh;
    }

    .ticker__wrapper {
        width: 100%;
        padding-left: 100%;

        .ticker__messages {
            display: inline-block;
            white-space: nowrap;
            padding-right: 100%;
            animation: ticker 20s linear infinite;

            .ticker__message {
                color: white;
                display: inline-block;
                cursor: default;

                .ticker__messageWrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        color: $white;
                        font-family: $semiBoldFont;
                        font-size: 1.8rem;
                        margin: 0 40px;
                        white-space: nowrap;

                        @media screen and (max-width: 768px) {
                            font-size: 1.2rem;
                        }

                        @media screen and (max-width: 500px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}