@import '../../assets/styles/main';

.hero {
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url('../../assets/img/hero-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 50px;

    .cta__btn {
        position: absolute;
        bottom: 14%;
        left: 14%;
        // width: 243px;
        // height: 69px;
        width: 12vw;
        height: 7vh;
        font-size: 1.4vw;
    }
}

.ticker {
    width: 100%;
    overflow: hidden;
    height: 10vh;
    background-color: $green;
    display: flex;
    align-items: center;

    .ticker__wrapper {
        width: 100%;
        padding-left: 100%;

        .ticker__messages {
            display: inline-block;
            white-space: nowrap;
            padding-right: 100%;
            animation: ticker 20s linear infinite;

            .ticker__message {
                color: white;
                display: inline-block;
                cursor: default;

                .ticker__messageWrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        color: $white;
                        font-family: $semiBoldFont;
                        font-size: 1.8rem;
                        margin: 0 40px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}