@import '../../assets/styles/main';

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $offYellow;
    padding: 50px 0;

    .cta__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;

        @media screen and (max-width: 1024px) {
            width: 80%;
        }

        .cta__header {
            display: flex;
            flex-direction: row;
            align-items: center;

            .cta__headerDetail {
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 500px) {
                    width: 25px;
                    // background-color: coral;
                }

                .detailTop {
                    margin-bottom: 10px;
                }
            }

            h1 {
                color: $pink;
                margin: 0 15px;
                text-align: center;
            }
        }

        p {
            font-size: 1.8rem;
            text-transform: uppercase;
            margin-bottom: 30px;
            text-align: center;

            @media screen and (max-width: 500px) {
                font-size: 1rem;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        .primary__btn {
            padding: 15px 50px;
            color: $white;
            font-size: 1.7rem;

            @media screen and (max-width: 500px) {
                font-size: 1rem;
                padding: 10px 35px;
            }
        }
    }
}