@import '../../assets/styles/main';

.jobs {
    display: flex;
    flex-direction: column;

    .jobs__roles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .jobs__rolesContent {
            background-color: $turquoise;

            h3 {
                color: $offYellow;
            }

            p {
                color: $white;

                span {
                    color: $white;
                    font-family: $regularFont;
                    font-size: 2rem;
                    font-style: italic;


                    @media screen and (max-width: 1024px) {
                        font-size: 1.5rem;
                    }

                    @media screen and (max-width: 500px) {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .jobs__rolesImg {
            background-image: url('../../assets/img/explorejobs-img.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 -150px;
            clip-path: $rightImgClip;

            @media screen and (max-width: 1024px) {
                background-position: 0;
            }
        }
    }

    .jobs__featured {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .jobs__featuredContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                color: $lightBlue;
            }

            p {
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .jobs__featuredImg {
            background-image: url('../../assets/img/explorejobs-img2.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 -150px;
            clip-path: $leftImgClip;

            @media screen and (max-width: 1024px) {
                background-position: 0;
            }
        }
    }

    .jobs__vacancies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-color: $orange;
            height: 100%;
            width: 100%;
            display: block;
            z-index: -1;
        }

        .jobs__vacanciesContent {
            background-color: $orange;

            h3 {
                color: $offYellow;
            }
        }

        .jobs__vacanciesImg {
            background-image: url('../../assets/img/explorejobs-img3.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0px -70px;
            clip-path: $rightImgClip;

            @media screen and (max-width: 1024px) {
                background-position: 0;
            }
        }
    }
}