// Reusable styles for Jobs and Perks Section

.section__container {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: $turquoise;
        height: 100%;
        width: 100%;
        display: block;
        z-index: -1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46%;
    padding: 150px 50px;

    @media screen and(max-width: 1024px) {
        padding: 70px 35px;
    }

    @media screen and (max-width: 500px) {
        padding: 35px 10px;
    }

    h3 {
        // line-height: 55px;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        margin-bottom: 30px;
        width: 55%;
        text-align: center;
        font-size: 2rem;

        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
            width: 70%;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            width: 80%;
        }

        @media screen and (max-width: 500px) {
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }

    .primary__btn {
        font-size: 1.7rem;
        padding: 15px 35px;

        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 0.8rem;
            padding: 7px 20px;
        }
    }

    .secondary__btn {
        font-size: 1.7rem;
        padding: 15px 35px;

        @media screen and (max-width: 1024px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        } 

        @media screen and (max-width: 500px) {
            font-size: 0.8rem;
            padding: 7px 20px;
        }
    }
}

.imgContainer {
    width: 54%;
}