@import '../../assets/styles/main';

.whyUs {
    display: flex;
    flex-direction: column;


    .perks {
        display: flex;
        flex-direction: row-reverse;

        .perks__content {
            h3 {
                color: $lightBlue;
            }
        }

        .perks__img {
            position: relative;
            background-image: url('../../assets/img/explorejobs-img4.png');
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: $leftImgClip;

            &::after {
                position: absolute;
                content: '';
                background-image: url('../../assets/img/sunday-times.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 50%;
                height: 80%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .benefits {
        display: flex;
        flex-direction: row;

        .benefits__content {
            background-color: $turquoise;

            h3 {
                color: $offYellow;
            }

            p {
                color: $white;
            }
        }

        .benefits__img {
            background-image: url('../../assets/img/explorejobs-img5.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 -180px;
            clip-path: $rightImgClip;

            @media screen and (max-width: 1600px) {
                background-position: 0;
            }
        }
    }
}