h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}

p {
    font-family: $regularFont;
    font-size: 1.8rem;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.07em;

    @media screen and (max-width: 500px) {
        font-size: 2rem;
        line-height: 40px;
    }
}

h3 {
    font-size: 3.8rem;
    letter-spacing: 0.07em;

    @media screen and (max-width: 1024px) {
        font-size: 3.4rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 500px) {
        font-size: 1.3rem;
        line-height: 25px;
    }
}