h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    letter-spacing: 0.07em;
}

p {
    font-family: $regularEditedFont;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
}

button {
    font-family: $regularEditedFont;
}

h1 {
    font-size: 4rem;

    @media screen and (max-width: 500px) {
        font-size: 2rem;
        line-height: 40px;
    }
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.8rem;
    line-height: 60px;

    @media screen and (max-width: 1600px) {
        line-height: 50px;
    }

    @media screen and (max-width: 1024px) {
        font-size: 3.4rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        line-height: 35px;
    }

    @media screen and (max-width: 500px) {
        font-size: 1.3rem;
        line-height: 25px;
    }
}