/* =================================================================
Typography imports 
================================================================= */

// Avalon font - primarily used for headers

@font-face {
    font-family: 'Avallon';
    src: url('../../fonts/Avallon.ttf');
}

// MerlodNorme - Light weight import 
@font-face {
    font-family: 'MerlodNorme-Light';
    src: url('../../fonts/merlodnorme-light.woff');
}

// MerlodNorme - Regular weight imports
@font-face {
    font-family: 'MerlonNorme-Regular';
    src: url('../../fonts/merlodnorme-regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MerlodNorme-Regular-Edited';
    src: url('../../fonts/merlodnorme-regular-edited0.woff');
}

// MerlodNorme - Semi-Bold weight import
@font-face {
    font-family: 'MerlodNorme-Semi-Bold';
    src: url('../../fonts/merlodnorme-semibold.woff');
}

// MerlodNorme - Bold weight imports
@font-face {
    font-family: 'MerlodNorme-Bold';
    src: url('../../fonts/merlodnorme-bold.woff');
}

@font-face {
    font-family: 'MerlodNorme-Bold-Edited';
    src: url('../../fonts/merlodnorme-bold-edited0.woff');
}

// Typography
$headerFont: 'Avallon', 'Helvetica Neue', sans-serif;
$regularFont: 'MerlodNorme-Regular', 'Helvetica Neue', sans-serif;
$regularEditedFont: 'MerlodNorme-Regular-Edited', 'Helvetica Neue', sans-serif;
$lightFont: 'MerlodNorme-Light', 'Helvetica Neue', sans-serif;
$semiBoldFont: 'MerlodNorme-Semi-Bold', 'Helvetica Neue', sans-serif;
$boldFont: 'MerlodNorme-Bold', 'Helvetica Neue', sans-serif;

// Colour Pallette
$green: #43b870;
$white: #ffffff;
$pink: #ed1f78;
$lightBlue: #53c2ea;
$offYellow: #fff46d;
$turquoise: #00b5b6;
$orange: #f27052;
$darkGrey: #333333;

// Img clip polyglon
$leftImgClip: polygon(0 0, 100% 0, 90% 100%, 0 100%);
$rightImgClip: polygon(0 0, 100% 0, 100% 100%, 10% 100%);