@import '../../fonts/Avallon.ttf';

// Typography

$headerFont: 'Avallon';

// Colour Pallette

$green: '#43b870';
$pink: '#ed1f78';
$lightBlue: '#53c2ea';
$offYellow: '#fff46d';
$white: '#ffffff';
$turquoise: '#00b5b6';
$orange: '#f27052';
$darkGrey: '#333333';


